@{
    ViewData["Title"] = "Home Page";
}
<div style="max-width:1100px; margin:auto">
    <div class="text-center">
        <h2 class="display-4">Aplikacja testowa dla ZKŁ Bydgoszcz</h2>
        <h4>Wykonanie: Kacper Osiadło</h4>

    </div>
    <p>Zgodnie z założeniami zadania testowego została stworzona baza danych, hostowana na darmowym hostingu <a href="https://smarterasp.net">smarterasp.net</a>. Baza danych to: MSSQL 2019</p>
    <p>Aplikacja to net5.0 MVC ASP .net Core  </p>
    <p>PackageReference to:</p>
    <ul>
        <li>
            Microsoft.EntityFrameworkCore.SqlServer
        </li>
        <li>
            Microsoft.EntityFrameworkCore.Tools
        </li>
    </ul>
    <p>Aplikacja łączy się z bazą danych i wykorzystuje EntityFramework</p>
    <p>Baza danych napisana jako EF Code First</p>

    <h3>Działanie aplikacji</h3>
    <ol>
        <li>Dodanie klasy w szkole - 
        </li>
        <li>
            Dodanie ucznia i przypisania go do istniejącej już klasy -
        </li>
        <li>
            Dodanie nauczyciela -
        </li>
        <li>
            Dodanie zajęć, przypisanie nauczyciela i klasy do tych zajęć. -
        </li>
    </ol>
</div>
