@{
    ViewData["Title"] = "Home Page";
}
<div style="max-width:1100px; margin:auto">
    <div class="text-center">
        <h2 class="display-4">Aplikacja testowa dla ZKŁ Bydgoszcz</h2>
        <h4>Wykonanie: Kacper Osiadło</h4>

    </div>
    <p>Zgodnie z założeniami zadania testowego została stworzona baza danych, hostowana na darmowym hostingu <a href="https://smarterasp.net">smarterasp.net</a>. Baza danych to: MSSQL 2019</p>
    <p>Aplikacja to net5.0 MVC ASP .net Core  </p>
    <p>PackageReference to:</p>
    <ul>
        <li>
            Microsoft.EntityFrameworkCore.SqlServer
        </li>
        <li>
            Microsoft.EntityFrameworkCore.Tools
        </li>
    </ul>
    <p>Aplikacja łączy się z bazą danych i wykorzystuje EntityFramework</p>
    <p>Baza danych napisana jako EF Code First</p>

    <h3>Działanie aplikacji</h3>
    <ol>
        <li>Dodanie klasy w szkole - <a asp-area="" asp-controller="Class_Name" asp-action="Create">Kliknij tutaj</a>
        </li>
        <li>
            Dodanie ucznia i przypisania go do istniejącej już klasy - <a asp-area="" asp-controller="Students" asp-action="Create">Kliknij tutaj</a>
        </li>
        <li>
            Dodanie nauczyciela - <a asp-area="" asp-controller="Teachers" asp-action="Create">Kliknij tutaj</a>
        </li>
        <li>
            Dodanie zajęć, przypisanie nauczyciela i klasy do tych zajęć. - <a asp-area="" asp-controller="Lessons" asp-action="Create">Kliknij tutaj</a>
        </li>
    </ol>
    <p>Aktualnie w bazie danych znajdują się przykładowe dane, więc można wykonać dowolnej operacji na dowolnym punkcie, przy pustej bazie danych, operacje należy przeprowadzić w w/w kolejności.</p>
    <h5>Zadania opcjonalne</h5>
    <p>z zadań opcojalnych wykorzystano EF Code First</p>
    <p>Wyszukiwarka po imieniu i nazwisku dostępna w zakładce Uczniowie <a asp-area="" asp-controller="Students" asp-action="Create">Dostępna tutaj</a></p>

</div>
